.nameFilter-div {
    text-align: center;
    padding-top: 20px;
}

.nameFilter-div h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.nameFilter-div input {
    padding: 10px;
    width: 20%;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.nameFilter-div input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgb(0, 123, 255, 0.5);
    outline: none;
}

.nameFilter-div ul {
    list-style: none;
    padding: 5px;
}

.nameFilter-div ul li {
    margin: 10px 0;
}